# ==========================
# Unreal Engine 5 Gitignore
# ==========================

# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates
*.opensdf
.vsconfig

# Xcode
*.xcworkspace
*.xcodeproj

# Rider / JetBrains
.idea/
*.code-workspace

# Binaries
Binaries/
Plugins/**/Binaries/

# Builds
Build/
# Keep PakBlacklist txt files
!Build/*/PakBlacklist*.txt
# Keep ico files
!Build/**/*.ico

# Intermediate files
Intermediate/
Plugins/**/Intermediate/

# Derived data cache
DerivedDataCache/

# Saved files
Saved/
# Autosaves and backups
*.autosave
*.backup

# Precompiled Headers
*.pch
*.gch

# Object files
*.o
*.obj
*.lo
*.slo

# Libraries
*.lib
*.a
*.la
*.lai
*.dll
*.so
*.dylib

# Executables
*.exe
*.out
*.app
*.ipa

# Precompiled assets (optional, if you don't want art assets tracked)
# SourceArt/**/*.png
# SourceArt/**/*.tga

# Built map data
*_BuiltData.uasset

# Temp files
*.tmp
*.log
*.vsix
*.pyc
*.pyo

# Crash reports
Saved/Crashes/

# MacOS system files
.DS_Store

# Windows thumbnail cache
Thumbs.db

# JetBrains project files
.idea/
*.iml
